<p id="notice"><%= notice %></p>

<% if @organizations %>
  <h1>Listing Organizations</h1>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.name %></td>
          <td><%= organization.address %></td>
          <td><%= organization.description %></td>
          <td><%= link_to 'Show', organization %></td>
          <td><%= link_to 'Edit', edit_organization_path(organization) if current_user %></td>
          <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }  if current_user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h3>No organization yet</h3>
<% end %>
<br>

<% if current_user %>
  <%= link_to 'New Organization', new_organization_path %>
<% end %>
