<!DOCTYPE html>
<html>
<head>
  <title>CompaniesContacts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <h2>
    <% if user_signed_in? %>
      <%= link_to('Logout (' + current_user.email + ')', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
  </h2>

<%= yield %>

</body>
</html>
