<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @member.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @member.title %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @member.organization %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @member.summary %>
</p>

<p>
  <strong>Full text bio:</strong>
  <%= @member.full_text_bio %>
</p>

<p>
  <strong>Url:</strong>
  <%= @member.url %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @member.picture %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
